<suite name="Smoke Suite" verbose="1" >
    <test name="Login tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="Signup tests">
        <classes>
            <class name="tests.SignupTest"/>
        </classes>
    </test>
    <test name="Admin Cities tests">
        <classes>
            <class name="tests.AdminCitiesTests"/>
        </classes>
    </test>
    <test name="Auth Routes tests">
        <classes>
            <class name="tests.AuthRoutesTest"/>
        </classes>
    </test>
    <test name="Locale tests">
        <classes>
            <class name="tests.LocaleTests"/>
        </classes>
    </test>

</suite>